/* You can add global styles to this file, and also import other style files */
body {
  font-family: Lato, serif;
  font-weight: 300;
}

h1, h2, h3 {
  margin: 1.5rem 0 .5rem;
  border-bottom: 1px dotted #aaa;
  &:first-child {
    margin-top: 0;
  }
}
p {
  margin: .5rem 0 0;
}

pre, code {
  font-family: 'Operator Mono', monospace;
}
